.appContainer {
	width: 90%;
	height: 100vh;
	margin: 0 auto;
}
.appWrapper {
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	/* justify-content: center;
	align-items: center; */
	margin: 0 auto;
}
.header {
	margin-top: 100px;
	margin-bottom: 50px;
	color: white;
	font-size: 14px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgb(25, 0, 255));
	width: 100%;
	padding: 3px 30px;
	text-align: right;
}
.contentHome {
	width: 100%;
    max-width: 1440px;
	display: grid;
	grid-template-columns: 30% 65%;
}